<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392883175184-kvdtgjqbdk9mk81u6396o70d5v5tlun9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392883175184-kvdtgjqbdk9mk81u6396o70d5v5tlun9</string>
	<key>API_KEY</key>
	<string>AIzaSyA7hR4dH8T9T3GtZ36JCP_13aO8FjSb6vc</string>
	<key>GCM_SENDER_ID</key>
	<string>392883175184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itecT3nsa</string>
	<key>PROJECT_ID</key>
	<string>itec-t3nsa</string>
	<key>STORAGE_BUCKET</key>
	<string>itec-t3nsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392883175184:ios:e47761e102bd8c35a72f95</string>
</dict>
</plist>